/*PROGRAMMER:Hana & Monica*/
.navbar {
    background: #f2f2f2;
    top: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    position: relative;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -125px !important; /*to account for logo pic*/
    display: block;
}

.logo-pic {
    width: 250px;
    height: 60px;
}

.welcome {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ef969f;
    background-color: #f2f2f2;
    padding: 40px 80px;
}

.welcome-text {
    text-shadow: -5px 5px 0px#f5ea8d; 
    font-size:50pt;
}

.text-muted {
    font-size: 14pt;
}

.profile-info {
    position: absolute;
    right: 1%;
    margin-right: 10px;
    display: block;
}

.prof-pic {
    width: 50px;
    height: 50px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f2f2f2;
    text-align: center;
}

.footer-link {
    color: #ef969f;
    font-size: large;
}