/*PROGRAMMER:Hana*/
.navbar {
    background: #f2f2f2;
    top: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    position: relative;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -125px !important; 
    display: block;
}

.logo-pic {
    width: 250px;
    height: 60px;
}

.user {
    background: #3D5A80;
    padding: 10px;
    height: 20px;
    width: 15px;
}

.users {
    padding: 10px;
    position:relative;
}

.party {
    position: absolute;
    border: 1px; 
    left: 50px;
    width: 200px;
    height: fit-content;
    border: 3px solid black;
}

.chat {
    position: absolute;
    right: 100px;
    width: 400px;
    height: 350px;
    border: 3px solid black;
    overflow-y: auto;
}